.view-transactions {
    padding: 20px;
    background: var(--card-bg); /* Use the variable from mainLayout */
    border-radius: 15px;
    margin-top: 20px;
}

.h2 {
    margin-bottom: 20px;
    color: var(--text-main);
}